[package]
name = "linkerd-await"
version = "0.2.2"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
edition = "2018"
publish = false

[dependencies]
futures = "0.3"
http = "0.2"
hyper = { version = "0.14", features = ["client", "http1", "tcp"] }
nix = "0.19"
regex = "1"
structopt = "0.3"
tokio = { version = "1", features = ["macros", "process", "rt", "signal", "time"] }
