[package]
name = "linkerd-await"
version = "0.1.0"
authors = ["Oliver Gould <ver@buoyant.io>"]
edition = "2018"

[dependencies]
futures = "0.1"
http = "0.1"
hyper = "0.12.3"
regex = "1"
structopt = "0.2"
tokio = "0.1.14"
